html, body { height: 100%; }

.header{
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	padding: 30px 10px;
	box-sizing: border-box;
	z-index: 1;
	background: white
}
.meal-buttons{
	margin-top: 80px;
}
.meal-time{
	position: absolute;
    width: 100%;
    margin: 0;
    z-index: -1
}

ul{
  list-style-type: none;
  padding-left: 0;
}

.test-item{
	width: 150px;
	height: 150px;
	background: black;
}

h1 span{
	background: SeaShell;
	padding: 0 5px;
}

.grid-item p.title{
	font-size: 12px;
}

.wishlist{
	position: absolute;
	top: 10px;
	right: 10px;
}

.wishlist:hover + .tooltip{
	display: block;
}

.tooltip{
	background: gray;
	color: white;
	display: none;
	position: absolute;
	font-size: 12px;
	padding: 5px;
	top: 0 ;
	left: 0;
}

.wishlist-list{
	float: right;
	padding-left: 20px;
	font-size: 20px;
	position: relative;
}

.wishlist-container{
	display: none;
	position: absolute;
	width: 200px;
	padding: 10px;
	border: 1px solid black;
	right: 10px;
	max-height: 150px;
	background: white;
	overflow-y: scroll;
}

.wishlist-container.active{
	display: block;
}

.wishlist-container .name{
	font-size: 10px;
}

p.title span{
	padding: 5px;
	font-size: 12px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
    display: inline-block;
    margin-right: 2px;
    background: black;
    color: SeaShell;
    text-transform: lowercase;
}

.modal.active p.title{
	font-size: 0;
	position: absolute;
	top: 10px;
	left: 10px;
}

.modal.active p.title span{
	background: SeaShell;
    color: black;
}

.food-container{
	margin-top: 20px;
}

.food-container,
.shopping-container{
	box-sizing: border-box;
}

.shopping-container{
	display: none;
	position: absolute;
	width: 300px;
	max-height: 300px;
	overflow-y: scroll;
	border: 1px solid black;
	padding: 10px;
	float: right;
	top: 65px;
	right: 10px;
	background: white;
}

.shopping-container.active {
	display: block;
}

.food-list{
	margin: 0;
	height: 100%
}

.food-list > li.grid-item{
	width: 150px;
	padding: 10px;
	border: 2px solid white;
	box-sizing: border-box;
	background-color: SeaShell;
	background-repeat: no-repeat;
	background-size: cover;
}

.food-list ul > li:first-child{
  font-weight: bold
}

.fa-clock-o:before{
	padding-right: 5px;
}

.grid-item p,
.grid-item h3{
	font-size: 14px;
}

body{
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}

.wrapper{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
}

.modal{
	position: relative;
}

.modal.active{
	display: block;
	position: fixed;
	background-color: black;
	color: white;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	padding: 30px;
	font-size: 18px;
	z-index: 2;
	box-sizing: border-box;
	max-width: 100%;
}


.shop{
	padding: 10px;
	color: white;
	border: 1px solid white;
	text-decoration: none
}


.item-img{
	border-radius: 50%;
	width: 60px;
	height: 60px;
	display: inline-block;
	margin-top: 10px;
	background-size: cover;
}

.fa.fa-times,
.shop,
.ingredients{
	display: none
}

.fa.fa-times{
	display: none;
	position: absolute;
	top: 10px;
	right: 10px;
}

.modal.active .fa-times,
.modal.active .ingredients,
.modal.active .shop{
	display: inline-block;
}

.modal.active .fa-plus{
	display: none;
}

p.ingredients{
	font-size: 20px;
}

body.popup:before{
	content: "";
	z-index: 1;
	background: rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.ingredient-link{
	margin-top: 20px;
	text-transform: uppercase;
	border: 1px solid black;
	padding: 5px;
	border-radius: 3px;
}

.ingredient-link:hover{
	cursor: pointer;
	color: white;
	background: black;
}

.time-button{
	margin-bottom: 20px;
}

.shopping-list > li{
	border: 1px solid #cecece;
	padding: 5px;
	margin-bottom: 2px;
	background: white;
}

.shopping-list > li:hover{
	background: SeaShell;
}

.shopping-list > li > span{
	float: right;
}

.shopping-list > li > span:hover{
	cursor: pointer;
}

.cart{
	float: right;
}

.fa-shopping-basket:hover{
	cursor: pointer;
}

.fa-shopping-basket:before{
	font-size: 25px;
}

.fa-shopping-basket.active:before{
	color: red;
}


/*Search*/

.search{
	margin-top: 20px;
}

.search label{
	display: block;
	margin-bottom: 20px
}

.search input{
	height: 30px;
	padding: 0 10px;
	font-size: 16px;
	vertical-align: middle;
	display: inline-block;
}

.button{
	background:black;
	color: white;
	text-transform: uppercase;
	border: 0;
	height: 30px;
	vertical-align: middle;
	padding: 0 20px;
	vertical-align: middle;
	display: inline-block;
}

.button.active{
	background: darkgray;
}


/*ISOTOPE CSS*/
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}